[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
scrapy = "*"
pytest = "*"
rembg = "*"
numpy = "*"
python-dotenv = "*"
pandas = "*"
crontab = "*"
selenium = "*"
webdriver-manager = "*"
yapf = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
